/* Make the default for margin and padding 0 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Defaults */
h1,
h2 {
  text-align: center;
  margin: auto auto;
  text-transform: uppercase;
  font-family: "Segoe UI", sans-serif; }

h1 {
  font-size: 1.6em;
  font-weight: 900;
  color: transparent;
  background: url(img/yellow.png);
  -webkit-background-clip: text;
  /* Billede som text farve KILDE: http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html */ }

h2 {
  color: #d78642;
  font-size: 1.3em;
  font-weight: 800; }

p {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  margin-top: 1vh; }

/* Navigationbaren mobil */
#nav {
  overflow: hidden;
  background-color: #333;
  border-bottom: solid #444 2px;
  border-top: solid #444 2px;
  position: fixed;
  height: 7vh;
  z-index: 1;
  width: 100vw;
  top: 0; }
  #nav #navLogo {
    text-align: left;
    margin-left: 3vw;
    font-size: 2em;
    color: white; }
  #nav #navItems {
    display: none; }
  #nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.8em;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 1em; }
  #nav .icon {
    color: white;
    font-size: 2em;
    background: transparent;
    border: none;
    display: block;
    position: absolute;
    height: 6vh;
    right: 3vw;
    top: 0;
    margin: 0.5vh 0; }

main {
  /* KILDE: https://css-tricks.com/the-shapes-of-css/ */ }
  main .filler {
    height: 7vh; }
  main article.forord {
    /*KILDE: https://css-tricks.com/the-shapes-of-css/ FLAG*/ }
    main article.forord .triangle-divider {
      width: 100vw;
      height: 25vh;
      box-sizing: content-box;
      position: relative;
      background-color: #333;
      background-position: center;
      background-size: cover; }
    main article.forord .triangle-divider:after {
      content: "";
      position: absolute;
      bottom: 0;
      border-bottom: 5vh solid white;
      border-left: 50vw solid transparent;
      border-right: 50vw solid transparent; }
    main article.forord .circles {
      padding: 3vh 5vw 0;
      margin-top: -20vh; }
      main article.forord .circles .textbox {
        margin: 3vh 0 0; }
      main article.forord .circles .circle {
        margin: auto;
        position: relative;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      main article.forord .circles #c1 {
        background-color: wheat; }
      main article.forord .circles #visionCircle {
        background-color: wheat; }
      main article.forord .circles #missionCircle {
        background-color: wheat; }
  main article.produkter {
    position: relative;
    overflow: hidden; }
    main article.produkter .skew {
      position: absolute;
      width: 100%;
      height: 20vh;
      background-color: #333;
      transform: skewY(-6deg);
      transform-origin: top-left;
      z-index: -1; }
    main article.produkter h1 {
      margin-top: 3vh; }
    main article.produkter .pFirkanter {
      padding: 3vh 5vw 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    main article.produkter .pFirkant {
      margin: auto;
      width: 300px;
      height: 150px;
      background-color: wheat; }
    main article.produkter .textbox {
      margin: 3vh auto;
      padding: 0 2vw;
      width: 300px; }
    main article.produkter a {
      color: #b53028; }
  main article.services {
    padding: 3vh 0;
    background-color: #333; }
    main article.services #sFelter {
      padding: 3vh 5vw 0; }
    main article.services #headerFelt1 {
      border-top: solid white 1px; }
    main article.services .headerFelt {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      height: 5vh;
      padding: 0 5vw;
      border-bottom: solid white 1px; }
      main article.services .headerFelt h2 {
        margin: 0;
        text-align: left; }
      main article.services .headerFelt .ui-icon {
        color: #d78642; }
    main article.services p {
      color: white; }
  main #om {
    background-color: #333; }
  main article.om #base-divider {
    background: #333;
    display: inline-block;
    height: 10vh;
    position: relative;
    width: 100vw; }
  main article.om #base-divider:before {
    border-top: 5vh solid #333;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    bottom: -5vh;
    width: 0; }
  main article.om .omContent {
    margin-top: 2vh;
    padding: 3vh 5vw 0; }
    main article.om .omContent .omHeader {
      display: flex;
      border-bottom: solid #333 1px; }
      main article.om .omContent .omHeader i {
        font-size: 3em;
        width: 12vw;
        overflow: hidden;
        color: #d78642; }
      main article.om .omContent .omHeader h2 {
        width: 82vw;
        padding-right: 12vw; }
  main article.kontakt {
    margin-bottom: 10vh; }
    main article.kontakt .kontaktFormular {
      padding: 3vh 5vw 0; }
    main article.kontakt input, main article.kontakt textarea {
      padding: 2vh 2vw;
      border-radius: 4px; }
    main article.kontakt input[type=text], main article.kontakt input[type=number], main article.kontakt textarea {
      width: 100%;
      margin-bottom: 3vh;
      border: 1px solid #333;
      font-family: "Open Sans", sans-serif; }
    main article.kontakt #besked {
      height: 20vh; }
    main article.kontakt input[type=button] {
      width: 30%;
      background-color: #b53028;
      border: none;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-weight: bold; }
    main article.kontakt input[type=button]:hover, main article.kontakt input[type=button]:active {
      background-color: #6b2636; }
    main article.kontakt #talkbubble {
      width: 95vw;
      height: 15vh;
      left: 5vw;
      background: #333;
      position: relative;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; }
      main article.kontakt #talkbubble h1 {
        padding: 5vh 0; }
    main article.kontakt #talkbubble:before {
      content: "";
      position: absolute;
      right: 95vw;
      top: 5vh;
      border-top: 3vh solid transparent;
      border-right: 5vw solid #333;
      border-bottom: 3vh solid transparent; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 7vh;
  width: 100vw;
  padding: 0.5vh 15vw;
  font-size: 2.15em;
  background-color: #333;
  border-top: solid #444 2px;
  border-bottom: solid #444 2px; }
  footer a {
    color: white;
    height: 6vh; }
